/*****[ Recipes ]**************************************************************/
.vitals {
}
    .vital-label, .vital-data {
        width: 80%;
        margin: 0 auto;
    }
    .vital-label {
        text-align: center;
    }
    .vital-data {
        text-align: center;
        font: 400 1.375rem 'Advent Pro'; /* 22px */
        border-bottom: dotted .0625rem #000; /* 1px */
        margin-bottom: .625rem; /* 10px */
        padding-bottom: .625rem; /* 10px */
    }
    .vital-data:last-of-type {
        border-bottom: none;
        margin-bottom: 0rem;
        padding-bottom: 0rem;
    }

.ctr-hero-image {
    width: 44.875rem; /* 718px */
    width: 44.75rem; /* 716px */
    height: 30rem; /* 480px */
    overflow: hidden;
}
    .hero-image {}

.recipe-title {
    position: absolute;
    width: 37.5rem; /* 600px */
    top: -13.75rem; /* 220px */
    float: left;
}
    .recipe-title h1, .category-tag-title h1 {
        font: 400 2.625rem 'Advent Pro'; /* 42px */
        line-height: 4.375rem; /* 70px */
        padding: 0 .3125rem; /* 0 5px */
        background-color: rgba(235, 145, 158, 0.8);
        color: #333;
        float: left;
        margin-bottom: .625rem; /* 10px */
    }
    .recipe-title .posted {
        background-color: rgba(51, 51, 51, 0.8);
        color: #fff;
        font: 200 1rem 'Roboto';
        padding: 0 .9375rem; /* 0 15px */
        margin-left: 1.25rem; /* 20px */
        float: left;
        clear: both;
    }

.recipe-banner {
    position: relative;
    border-left: dotted .0625rem #666; /* 1px */
    height: 3.75rem; /* 60px */
    padding-top: .9375rem; /* 15px */
    margin-left: -1.3125rem; /* 21px */
}
    .recipe-anchor {
        position: absolute;
        top: -2.8125rem; /* 45px */
    }

    .recipe-banner .title {
        position: relative;
        border-bottom: dotted .0625rem #666; /* 1px */
        height: 1.875rem; /* 30px */
    }

        .recipe-banner .title div {
            margin-left: -1rem; /* 16px */
            line-height: 1.875rem; /* 30px */
            background-color: #eb919e;
            padding-right: 1rem; /* 1px */
            font-size: 1.25rem; /* 20px */
            float: left;
        }

        .recipe-banner .title div:after {
            position: relative;
            content: "";
            top: 1.875rem; /* 30px */
            float: left;
            width: 0;
            height: 0;
            border-top: .9375rem solid #666; /* 15px */
            border-left: .9375rem solid transparent; /* 15px */
        }

.recipe-description .highlight-intro {
    font: 400 1.375rem 'Advent Pro'; /* 22px */
    line-height: 1.5rem; /* 24px */
    color: #000;
}

.recipe-ingredients {
    position: relative;
    clear: both;
    margin-bottom: 2.25rem; /* 36px */
}

.recipe-box {
    position: relative;
    float: left;
    width: 21.8125rem; /* 349px */
    margin: 0 1.25rem 1.25rem 0; /* 0 20px 20px 0 */
    background-color: #fff;
    font-size: .875rem; /* 14px */
}
.recipe-box.even {
    margin-right: 0rem;
}
    .recipe-box h2 {
        margin: 0rem;
        font: 400 1.625rem 'Advent Pro'; /* 26px */
    }
    .recipe-box:hover h2 {
        color: #EB919E;
    }
    .recipe-box .img {
        position: relative;
        overflow: hidden;
        height: 13.75rem; /* 220px */
    }
        .recipe-box .img img {
            position: absolute;
            transition: all 0.2s ease;
            width: 21.8125rem; /* 349px */
            max-width: 23.0625rem; /* 369px */
            top: 0rem;
            left: 0rem;
        }
        .recipe-box:hover .img img {
            width: 23.0625rem; /* 369px */
            top: -.625rem; /* 10px */
            left: -.625rem; /* 10px */
        }

    .recipe-box .content {
        padding: 1.25rem; /* 20px */
        height: 15.625rem; /* 250px */
    }
        .recipe-box .content p {
            line-height: 1.07rem;
            font-weight: 300;
        }
        .recipe-box .content img {
            width: 1rem; /* 16px */
            margin: -.0625rem .25rem 0 0; /* -1px 4px 0 0 */
        }
        .recipe-box .info {
            position: absolute;
            bottom: 1.25rem; /* 20px */
            overflow: auto;
        }
        .recipe-box .categories, .recipe-box .tags {
            font-size: .75rem; /* 12px */
        }
        .recipe-box .categories {
            margin-bottom: .125rem; /* 2px */
        }

.ingredient-row {
    clear: both;
}
    .ingredient-row div {
        float: left;
    }
    .ingredient-row .amount, .ingredient-row .measurement {
        margin-right: .3125rem; /* 5px */
    }
    .ingredient-row .amount {
        width: 2.8125rem; /* 45px */
        width: 120px; /* 45px */
        text-align: center;
    }
        .ingredient-row .amount div {
            float: left;
            width: 50%;
        }
        .ingredient-row .amount div.measure {
            padding-left: .3125rem; /* 5px */
            margin-top: .0625rem; /* 2px */
            font-size: .75rem; /* 12px */
            text-align: left;
        }
        .ingredient-row .amount div.count {
            text-align: right;
        }

.instruction-row {
    position: relative;
    /*overflow: auto;*/
    margin-bottom: 1.25rem; /* 20px */
}
    .instruction-row .step {
        font-weight: 400;
        margin-bottom: .625rem; /* 10px */
        clear: both;
        border-bottom: solid .0625rem #ddd; /* 1px */
    }
    .instruction-row .instruction {
        margin-left: 1.25rem; /* 20px */
    }
    .instruction-row img {
        position: relative;
        width: 9.375rem; /* 150px */
        height: 9.375rem; /* 150px */
        border: solid .0625rem #999; /* 1px */
        background-color: #fff;
        padding: .25rem; /* 4px */
    }
    .instruction-row .instruction img.left {
        float: left;
        margin: 0 .625rem .625rem 0; /* 0 10px 10px 0 */
    }
    .instruction-row .instruction img.right {
        float: right;
        margin: 0 0 .625rem .625rem; /* 0 0 10px 10px */
    }
