$color-white:               #fff;
$color-background:          #EEEEEE;
$color-sea-pink:            rgba(235,145,158,0.8);

$color-dark-primary:        #7B1FA2;
$color-primary:             #9C27B0;
$color-primary-faded:       rgba(244, 143, 177, 0.8);
$color-light-primary:       #E1BEE7;
$color-text-icons:          #FFFFFF;
$color-accent:              #9E9E9E;
$color-text-primary:        #212121;
$color-text-secondary:      #727272;
$color-divider:             #B6B6B6;